* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
	background: #419fd9;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
	font-family: "Open Sans", "Roboto", "Ubuntu", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

button,
input[type="search"] {
	border: none;
	outline: none;
}

input[type="checkbox"] {
	margin: 7px;
	margin-right: 15px;
}

/* switch to mobile version screen */
.switchMobile {
	position: absolute;
	width: 65%;
	height: auto;
	padding: 10px;
	background: #fff;
	top: 75px;
	left: 0px;
	right: 0px;
	margin: auto;
	border-radius: 4px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
	display: none;
}

.switchMobile .title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.switchMobile .desc {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 25px;
}

.switchMobile .okay {
	float: right;
	width: 80px;
	font-size: 16px;
	font-weight: 600;
	background: #419fd9;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
}

/* side menu */
.menuWrap {
	position: absolute;
	width: 30%;
	min-width: 240px;
	max-width: 320px;
	height: 100%;
	z-index: 3;
	display: none;
}

.menu {
	position: relative;
	left: -320px;
	width: 100%;
	height: 100vh;
	float: left;
	background: #fff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
	opacity: 0;
}

.me {
	position: relative;
	width: calc(100% - 50px);
	height: 140px;
	background: #419fd9;
	padding: 15px 25px;
	margin-bottom: 15px;
}

.me .image {
	width: 70px;
	height: 70px;
	background-size: cover;
	border-radius: 50%;
	opacity: 0.6;
}

.me .myinfo {
	position: absolute;
	bottom: 15px;
	font-size: 14px;
	color: #fff;
}

.myinfo .name {
	font-weight: 600;
	margin-bottom: 5px;
}

.myinfo .phone {
	font-weight: 300;
}

nav button {
	width: 100%;
	height: 45px;
	background: #fff;
	text-align: left;
	padding-left: 20px;
	color: #666;
}

nav {
	float: left;
	width: 100%;
	height: auto;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
}

nav button:hover,
nav button:hover > svg {
	background: #eee;
	opacity: 1;
	color: black;
}

nav button > svg {
	color: #999;
	float: left;
	width: 27px;
	opacity: 0.6;
}

nav button > span {
	display: inline-block;
	margin-top: 5px;
	margin-left: 20px;
	font-weight: 600;
	font-size: 14px;
}

.info {
	position: absolute;
	left: 20px;
	bottom: 15px;
	font-size: 12px;
	color: #666;
}

/* profile screen */
.config {
	position: absolute;
	width: 50%;
	height: 100vh;
	left: 0px;
	right: -200vw;
	top: 0px;
	margin: auto;
	background: #ddd;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	z-index: 520;
	opacity: 0;
	border: 1px solid #ddd;
}

.confTitle {
	font-size: 24px;
	font-weight: 600;
	color: #444;
	margin: 10px 0px 15px 0px;
}

.configSect {
	display: flex;
	flex-direction: column;
	float: left;
	width: calc(100% - 60px);
	padding: 15px 30px;
	margin-bottom: 10px;
	background: #fff;
}

.profile {
	margin-bottom: 30px;
}

.profile .image {
	width: 140px;
	height: 140px;
	background-size: cover;
	border-radius: 100%;
	float: left;
	margin-right: 30px;
}

.profile:nth-child(1) .image {
	background-image: url(./img/abil.png);
}
.profile:nth-child(2) .image {
	background-image: url(./img/julio.jpg);
}
.profile:nth-child(3) .image {
	background-image: url(./img/syaugi.jpg);
}
.profile:nth-child(4) .image {
	background-image: url(./img/fahrul.jpg);
}

.side {
	width: auto;
	height: 110px;
	float: none;
	position: relative;
}

.side .name {
	font-size: 18px;
	font-weight: 600;
}

.side .pStatus {
	color: rgb(255, 39, 39);
	margin-top: 5px;
	font-size: 14px;
	font-weight: 300;
	text-decoration: underline;
}
.side ul {
	float: none;
	margin-left: -7px;
	list-style-type: none;
}

.side ul li {
	margin: 7px;
}

.side .blue {
	color: #419fd9;
}

.side label {
	display: block;
	clear: both;
}

/* ----------------- */
/* MAIN WEB TAKJIL ELEMENTS */
/* ----------------- */

.leftPanel {
	position: relative;
	display: inline-block;
	left: 0px;
	width: 320px;
	height: 100vh;
	float: left;
	background: #fff;
	border-right: 1px solid #ddd;
}

header {
	width: 100%;
	height: 70px;
	background: #fff;
}

.trigger {
	float: left;
	width: 32px;
	height: 32px;
	margin: 20px 15px;
	margin-bottom: 0px;
	background-color: #fff;
	cursor: pointer;
}

.trigger:hover svg {
	opacity: 1;
}

.trigger > svg {
	font-size: 24px;
	opacity: 0.6;
}

.searchTitle {
	width: calc(100% - 85px);
	height: 40px;
	background: #eee;
	float: left;
	padding: 8px;
	margin-top: 14px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.searchTitle:focus {
	color: #444;
	border: 2px solid #419fd9;
	background: rgb(243, 243, 243);
}

.titleList {
	width: 100%;
	height: calc(100vh - 70px);
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

.listButton {
	float: left;
	width: 100%;
	height: 80px;
	background: #fff;
	color: #555;
	cursor: pointer;
	overflow: hidden;
}

.listButton:hover {
	color: #555;
	background: #eee;
}

.active,
.active:hover {
	color: #fff;
	background: #419fd9;
}

.listInfo {
	float: left;
}

.listInfo p {
	float: left;
}

.listInfo .image {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #ddd url(./img/logo.png) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}

.listInfo .name {
	float: left;
	font-weight: 600;
	margin-left: 80px;
	margin-top: 18px;
}

.listInfo .alamat {
	float: left;
	clear: left;
	margin-left: 80px;
	margin-top: 7px;
}

#createEntity {
	position: absolute;
	bottom: -70px;
	right: 20px;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	background-color: #419fd9;
	color: #fff;
	font-size: 40px;
	border-radius: 40% 40% 40% 40%;
}

#createEntity:hover {
	background-color: #3d95cc;
}

.rightPanel {
	float: left;
	width: calc(100% - 321px);
	height: 100vh;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
}

.rightPanel .topBar {
	position: relative;
	width: 100%;
	height: 70px;
	background: #fff;
}

.leftSide {
	display: inline-block;
	clear: none;
	float: left;
}

.leftSide .nama {
	float: left;
	margin-left: 30px;
	margin-top: 13px;
	color: #444;
	font-weight: 600;
	cursor: default;
}

.leftSide .alamat {
	float: left;
	clear: left;
	margin-left: 30px;
	margin-top: 5px;
	color: #419fd9;
	font-weight: 300;
	cursor: default;
}

/* Data */

.data {
	float: left;
	position: relative;
	width: 100%;
	height: 100vh;
	background: #333;
	overflow-x: hidden;
	overflow-y: auto;
}

.userBg {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
}

/* SOLVING RESPONSIVE DESIGN ISSUES */
@media screen and (max-width: 1180px) {
	.config {
		width: 60%;
	}
}

@media screen and (max-width: 980px) {
	.config {
		width: 90%;
	}
}

@media screen and (max-width: 940px) {
	body {
		font-size: 14px;
	}

	.msg {
		width: 90%;
	}
}

@media screen and (max-width: 720px) {
	.leftPanel {
		width: 80px;
	}

	.rightPanel {
		width: calc(100% - 81px);
	}

	.msg {
		width: auto;
		max-width: 60%;
	}

	.searchTitle,
	.listButton > .name,
	.listButton > .message,
	.listButton > .status {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.switchMobile {
		display: block;
	}

	.leftPanel,
	.rightPanel,
	.menuWrap,
	.config {
		display: none;
	}
}

@media screen and (max-width: 300px) {
	.switchMobile {
		width: calc(220px - 20px);
	}
}
